---
---

// Settings and Foundation configurations
$medium-break-point: 1100px;
$grid-row-width: $medium-break-point;

// Import libraries
@import "foundation";
@include foundation-global-styles;
@include foundation-grid;

$yellow: #fcc803;
$red: #ed0707;
$blue: #0765ed;
$green: #04a025;
$white: #fff;

// site wide overrides
a {
  color: $yellow;
  text-decoration: none;
}
body {
  font-family: "Montserrat";
}
h1 {
  font-size: 58px;
  text-align: center;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 46px;
  a {
    display: inline-block;
    color: $yellow;
    text-decoration: underline;
  }
}
h3 {
  font-size: 46px;
  position: relative;
  display: inline-block;
  z-index: 1;
  padding: 0 50px;
  margin: 0;
  &:before {
    content: "";
    background-color: $yellow;
    position: absolute;
    width: 100%;
    height: 70%;
    left: 0;
    top: 50%;
    z-index: -1;
  }
}

p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: $medium-break-point) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 28px;
  }
}

// site wide styling
.button {
  color: $white;
  background-color: $yellow;
  padding: 25px 100px 15px 15px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
}
.button.large {
  padding: 20px 60px 40px 15px;
  font-style: italic;
  font-size: 46px;
  line-height: 46px;
  font-weight: 400;
}
.button.small {
  padding: 4px 15px 6px 4px;
  font-size: 16px;
  line-height: 18px;
  font-style: italic;
}
.button.red {
  background-color: $red;
}
.content {
  padding: 40px 0 90px;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
@media screen and (max-width: $medium-break-point) {
  .button {
    padding: 13px 50px 8px 8px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
  }
  .button.large {
    padding: 10px 30px 20px 8px;
    font-size: 24px;
    line-height: 24px;
  }
  .button.small {
    padding: 4px 15px 6px 4px;
    font-size: 16px;
    line-height: 18px;
  }
}

// custom styling
nav {
  background-color: $yellow;
  min-height: 63px;
  overflow: auto;
  img {
    width: 200px;
    position: absolute;
    display: inline-block;
    margin-top: 10px;
  }
  ul {
    display: inline-block;
    list-style-type: none;
    float: right;
    li {
      display: inline-block;
      margin: 18px 0;
      padding: 0 24px;
      //border-right: 2px solid $white;
      a {
        font-size: 20px;
        color: $white;
        font-weight: 700;
        line-height: 24px;
      }
    }
    li:last-child {
      border-right: none;
    }
  }
  .menu {
    display: none;
  }
}

footer {
  #tech {
    background-color: $yellow;
    min-height: 55px;
    overflow: auto;
    padding: 0 10px;
    img {
      width: 170px;
      padding-top: 10px;
      display: inline-block;
    }
    p {
      font-size: 10px;
      display: inline-block;
      padding-top: 15px;
    }
  }
  #most-recent {
    float: left;
    margin-right: 20px;
  }
}

@media screen and (max-width: $medium-break-point) {
  nav {
    min-height: auto;
    img {
      height: 60px;
      padding: 5px 0;
      width: auto;
      position: relative;
      display: inline-block;
      margin-top: 0;
    }
    ul {
      display: none;
      float: none;
      li {
        display: block;
        margin: 0;
        padding: 10px 0;
        border-right: none;
        text-align: right;
        a {
          font-size: 20px;
          line-height: 20px;
        }
      }
    }
    .menu {
      float: right;
      display: inline-block;
      color: $white;
      font-size: 40px;
      line-height: 40px;
      padding: 10px 0;
      margin: 0;
    }
  }
}

article {
  header {
    background-image: linear-gradient(
          rgba(255, 255, 255, 0.7),
          rgba(255, 255, 255, 0.7)
        ),
        linear-gradient(
          rgba(0, 0, 0, 0) 85%,
          rgba(0, 0, 0, 0.4)
        ), url('/img/bg-header.jpg');
    background-position: center;
    background-size: cover;
    padding: 100px 0;
    .post-meta {
      text-align: center;
      font-weight: 700;
      font-size: 24px;
    }
  }
  // style how blogs posts look here, this could be a large variety of tags
  .post-content {
    border-bottom: rgb(235, 235, 235) 1px solid;
    p {
      font-size: 20px;
      padding: 0 0 20px;
    }
    img {
      margin: 10px auto;
      display: block;
      max-width: 66%
    }
    a:hover {
      text-decoration: underline;
    }
    h1, h2, h4, h5, h6 {
      margin: 8px 0;
    }
    h1 {
      font-size: 42px;
    }
    h2 {
      font-size: 36px;
    }
    h3 {
      font-size: 32px;
      margin-bottom: 30px; // account for the yellow box
    }
    h4 {
      font-size: 28px;
    }
    .caption {
      font-size: 14px;
      font-weight: normal;
      margin: 0 auto 8px auto;
      color: gray;
      text-align: center;
      display: table;
    }
    h5, h6 {
      font-size: 24px;
    }
  }
}

.more-posts {
  padding: 0 0 30px;
}

#home {
  .header {
    background-image: url("../img/bg-header.jpg");
    background-position: center;
    background-size: cover;
    padding: 210px 0;
  }
}

@media screen and (max-width: $medium-break-point) {
  #home {
    .header {
      padding: 60px 0;
    }
  }
}

#involvement {
  p {
    line-height: 1.6em;
    padding: 50px 0;
  }
}

#meet-the-team {
  .intro {
    padding-top: 250px;
    background-size: cover;
    background-position: 50% 30%;
    background-image: url("../img/bg-team.jpg");
    .banner {
      background-color: rgba($green, 0.6);
    }
  }
  .description {
    background-color: $green;
    background-image: url("../img/img-team.png");
    background-position: 40% bottom;
    background-repeat: no-repeat;
    background-size: 540px auto;
    p {
      color: $white;
      line-height: 1.6em;
      padding: 40px 0;
    }
  }
}

@media screen and (max-width: $medium-break-point) {
  #meet-the-team {
    .description {
      background-size: 400px auto;
    }
  }
}

#social-footer {
  padding-top: 18px;
  text-align: right;
  a {
    color: $white;
    //background-color: #000;
    padding: 5px;
    //border-radius: 5px;
    //min-width: 30px;
    margin-right: 10px;
  }
  .email-signup {

  }
}

#crew {
  border-bottom: 1px $green solid;
  .member {
    padding: 10px;
    height: 300px;
    .member-photo {
      width: 150px;
      height:150px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 150px auto;
      border-radius: 50%;
      margin: auto;
    }
    h2 {
      font-size: 26px;
      margin: 0;
      text-align: center;
      a {
        color: black;
        text-decoration: none;
      }
      a:hover {
        color: $yellow;
      }
    }
    h3 {
      font-size: 20px;
      margin: 0 0 15px;
      width: 100%;
      padding: 0;
      text-align: center;
    }
    h4 {
      font-size: 20px;
      margin: 0 0 15px;
      width: 100%;
      padding: 0;
      text-align: center;
    }
    p {
      font-size: 16px;
      margin: 0;
      color: black;
      padding-bottom: 5px;
    }
  }
}

#projects {
  background-color: $blue;
  p {
    color: $white;
    font-style: italic;
    font-size: 46px;
    padding-top: 20px;
    padding-bottom: 0px;
    a {
      color: $white;
      background-color: $yellow;
      display: inline-block;
      padding: 0 10px;
    }
  }
  #projects-list-view {
    .update {
      padding-top: 40px;
      padding-bottom: 20px;
      height: auto;
      .update-photo {
        width: 100%;
        height:200px;
        background-size: 100%;
        background-position: center;
        background-image: url('../img/bg-header.jpg');
        position: relative;
        padding: 0;
        margin: 0;
        transition: background-size 0.5s;
        -webkit-transition: background-size 0.5s;
      }
      .update-photo:hover {
        background-size: 110%;
      }
      h2 {
        font-size: 20px;
        margin: 0 0 15px;
        width: 100%;
        padding: 0 7px;
        text-align: left;
        color: $white;
        background-color: $yellow;
      }
      a {
        margin-top: 5px;
        color: $white;
        text-decoration: none;
      }
      a:hover {
        color: black;
      }
      p {
        font-size: 16px;
        margin: 0;
        color: $white;
        padding-bottom: 5px;
        padding-top: 0;
      }
    }
  }
}

@media screen and (max-width: $medium-break-point) {
  #projects {
    p {
      font-size: 24px;
      padding-top: 40px;
    }
  }
}

#updates {
  background-color: $red;
  .recent-post {
    p {
      color: $white;
      padding: 30px 0 0;
      line-height: 1.6em;
    }
    .post-text {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .preview-image {
      height: 100%;
      width: 100%;
      background: linear-gradient(rgba($red, 0.4), rgba($red, 0.4)), url("../img/bg-header.jpg");
      background-size: cover;
      background-position: center;
      position: relative;
      padding: 0;
      margin: 0;
      .button {
        position: absolute;
        bottom: 36px;
        left: 36px;
      }
    }
  }
}

#updates-list {
  padding-bottom: 50px;
  border-bottom: 1px $red solid;
  .intro {
    padding-top: 250px;
    background-size: cover;
    background-position: 50% 30%;
    background-image: url("../img/img-concept.png");
    .banner {
      background-color: rgba($red, 0.8);
    }
  }
}

#projects-list {
  padding-bottom: 50px;
  border-bottom: 1px $blue solid;
  .intro {
    padding-top: 250px;
    background-size: cover;
    background-position: 50% 30%;
    background-image: url("../img/bg-projects.jpg");
    .banner {
      background-color: rgba($blue, 0.8);
    }
  }
}

#updates-list-view {
  .update {
    padding: 10px;
    height: 450px;
    .update-photo {
      width: 100%;
      height:150px;
      background-size: 100%;
      background-position: center;
      background-image: url('../img/bg-header.jpg');
      position: relative;
      padding: 0;
      margin: 0;
      transition: background-size 0.5s;
      -webkit-transition: background-size 0.5s;
    }
    .update-photo:hover {
      background-size: 110%;
    }
    h3 {
      font-size: 20px;
      margin: 0 0 15px;
      width: 100%;
      padding: 0;
      text-align: center;
    }
    a {
      color: black;
      text-decoration: none;
    }
    a:hover {
      color: $red;
    }
    p {
      font-size: 16px;
      margin: 0;
      color: black;
      padding-bottom: 5px;
    }
  }
}
