---
---

// Settings and Foundation configurations
$medium-break-point: 1100px;
$grid-row-width: $medium-break-point;

$small-break-point: 640px;

$border-radius: 3px;

// variables and general styles
@import "colors";
@import "typography";

// Import libraries
@import "foundation";
@import "wiki";
@import "card";
@import "member";
@import "advisor";
@import "hero";
@import "home";
@import "nav";
@import "footer";
@import "button";
@import "call_to_action";
@import "events";

@include foundation-global-styles;
@include foundation-grid;

.content {
  padding: 30px 0;
}
