---
layout: default
---

<section id="home">
  <div id="meet-the-team">
    <div class="intro">
      <div class="banner">
        <div class="row">
          <div class="small-12 columns">
            <h3>
              meet the team!
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="row">
        <div class="small-12 columns">
          <div class="row">
            <div class="small-12 medium-8 medium-push-2 columns">
              <p>
                Bringing the old MUB Basement to life with an awesome space for creators, makers, tinkerers, designers, inventors, (whatever you prefer to call yourself), takes a lot of work. And it's gonna take even more when it comes to running it on a daily basis. That's what the alley crew will do once we get it up and moving. Interested in helping out? <a href="https://docs.google.com/forms/d/1k2h8GUhAPetOmOHl19RDwa6ZBaaXHhA3LUfiEEQbOyo/viewform?c=0&w=1" class="small button">Sign up here!</a> For now, check out the committee of people working on putting it all together!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="crew">
      <div class="row">
        {% for member in site.alley_crew %}
          <div class="member medium-6 large-4 columns {% if forloop.last == true %}end{% endif %}">
            <div class="member-photo" style="background-image: url('img/crew/{{ member.photo }}');"></div>
            <h2>
              <a href="mailto:{{ member.email }}?subject=Makerspace Involvement" target="_blank">
                {{ member.name }}
              </a>
            </h2>
            <h4>{{ member.title }}</h4>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
