---
layout: default
---

<section id="home">
  <div id="updates-list">
    <div class="intro">
      <div class="banner">
        <div class="row">
          <div class="small-12 columns">
            <h3>
              updates!
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="row">
        <div class="small-12 columns">
          <div class="row">
            <div class="small-12 medium-8 medium-push-2 columns">
              <p>
                Check out the latest progress and updates below. We will try to
                post as often as we can, but if you want some more content feel
                free to
                <a href="http://www.twitter.com/makerspacemtu">follow us on Twitter</a>
                or <a href="http://www.facebook.com/makerspacemtu">like us on Facebook</a> for more
                updates. If you would like to be notified of future updates that
                we post, sign up for our mailing list <a href="http://eepurl.com/bKQAsf">here</a>!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="updates-list-view">
      <div class="row">
        {% for post in site.posts %}
          <div class="update medium-6 large-4 columns {% if forloop.last == true %}end{% endif %}">
            <a href="{{ post.url }}">
              <div class="update-photo" {% if post.image %}style="background-image: url('img/{{ post.image }}');"{% endif %}></div>
            </a>
            <a href="{{ post.url }}">
              <h3>{{ post.title }}</h3>
            </a>
            <p>
              <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
              {% if post.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>{% endif %}
            </p>
            <p>
              {{ post.content | strip_html | truncatewords:50 }}
              <a href="{{ post.url }}" class="small red button">
                read more
              </a>
            </p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
