---
layout: main
---

<section>
  <div class="content">
    <div class="row">
      <div class="small-12 columns">
        <h3 class="header">
          Meet the Team
        </h3>
        <p>
          Bringing the old MUB Basement to life with an awesome space for
          creators, makers, tinkerers, designers, inventors, (whatever you
          prefer to call yourself), takes a lot of work.
          Interested in helping out? <a
          href="https://docs.google.com/forms/d/1k2h8GUhAPetOmOHl19RDwa6ZBaaXHhA3LUfiEEQbOyo/viewform?c=0&w=1">Sign
          up here!</a>
        </p>

        <h3 class="header">
          Student Leadership
        </h3>

        <div class="row small-up-1 medium-up-2 large-up-3">
          {% for member in site.alley_crew %}
            <div class="column member">
              <div class="member__photo" style="background-image: url('/img/crew/{{ member.photo }}');"></div>
              <a href="mailto:{{ member.email }}?subject=Makerspace Involvement" target="_blank" class="member__name">
                {{ member.name }}
              </a>
              <h4 class="member__title">
                {{ member.title }}
              </h4>
              <p class="member__bio small">
                {{ member.bio }}
              </p>
            </div>
          {% endfor %}
          
          </div>
        </div>

        <h3 class="header">
          Advisors
        </h3>

        <div class="row small-up-1 medium-up-2 large-up-3">
          {% for advisor in site.advisors %}
            <div class="column advisor">
              <a href="mailto:{{ advisor.email }}?subject=Makerspace Involvement" target="_blank" class="advisor__name">
                <i class="fa fa-user"></i>
                {{ advisor.name }}
              </a>
              <p class="advisor__title">
                {{ advisor.title }}
              </p>
            </div>
          {% endfor %}
        </div>

        <h3 class="header">
          Maker Coaches
        </h3>

        <div class="row small-up-1 medium-up-2 large-up-3">
            <p class="column">
                Adam Scholl
            </p>
            <p class="column">
                Alex Kuhn
            </p>
            <p class="column">
                Asa Pierce
            </p>
            <p class="column">
                Cassie Zimmer
            </p>
            <p class="column">
                Chelsey Rock
            </p>
            <p class="column">
                Cody Tuftee
            </p>
            <p class="column">
                Forest Collins
            </p>
            <p class="column">
                Fred Poddig
            </p>
            <p class="column">
                Jaden Coe
            </p>
            <p class="column">
                Jaideep Singh
            </p>
            <p class="column">
                Kyra Pratley
            </p>
            <p class="column">
                Landon Van Acker
            </p>
            <p class="column">
                Martin Mueller
            </p>
            <p class="column">
                Noah Skrzypczak
            </p>
            <p class="column">
                Ron Kyllonen
            </p>
            <p class="column">
                Sam Bulthuis
            </p>
            <p class="column">
                Sam Dlugoss
            </p>
            <p class="column">
                Theo Wachowski
            </p>
            <p class="column">
                Zeb Jones
            </p>
        </div>


        </p>
        <p class="margin-bottom">
          Stop by the Alley to meet our team of amazing coaches that are
          here to assist you and share their experience!
        </p>
      </div>
    </div>
  </div>
</section>
