---
layout: main
---

<section>
  <div class="content">
    <div class="row">
      <div class="small-12 columns">
        <h3 class="header">
          Meet the Team
        </h3>
        <p>
          Bringing the old MUB Basement to life with an awesome space for
          creators, makers, tinkerers, designers, inventors, (whatever you
          prefer to call yourself), takes a lot of work.
          Interested in helping out? <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSfIzT2M5DMW1mxSPlJLA1TPpDpi0obBB7mrAmJER3KqwpNfPQ/viewform?usp=sf_link">Sign
          up here!</a>
        </p>

        <h3 class="header">
          Student Leadership
        </h3>

        <div class="row small-up-1 medium-up-2 large-up-3">
          {% for member in site.alley_crew %}
            <div class="column member">
              <div class="member__photo" style="background-image: url('/img/crew/{{ member.photo }}');"></div>
              <a href="mailto:{{ member.email }}?subject=Makerspace Involvement" target="_blank" class="member__name">
                {{ member.name }}
              </a>
              <h4 class="member__title">
                {{ member.title }}
              </h4>
              <p class="member__bio small">
                {{ member.bio }}
              </p>
            </div>
          {% endfor %}

          </div>
        </div>
		
		 <h3 class="header">
          Maker Coaches
        </h3>
		<p class="margin-bottom">
          Stop by the Alley to meet our team of amazing coaches that are
          here to assist you and share their experience!
        </p>
		<div class="row small-up-1 medium-up-2 large-up-3">
            <p class="column">
			Alissa Richardson
            </p>
            <p class="column">
			Ben Bolduc
            </p>
            <p class="column">
			Brendan Powers
            </p>
            <p class="column">
			Chase Johnstone
            </p>
            <p class="column">
			Chris Norton
            </p>
            <p class="column">
			Connor Langdon
            </p>
            <p class="column">
			David Hoffman
            </p>
            <p class="column">
			Gi West
            </p>
            <p class="column">
			Ginna Ennis
            </p>
            <p class="column">
			Griffin Harvey
            </p>
            <p class="column">
			Jack Philip
            </p>
            <p class="column">
			Ben Porkorny
            </p>
            <p class="column">
			Matthew Yeates
            </p>
            <p class="column">
			Meg Rotole
            </p>
            <p class="column">
			Nate Yenor
            </p>
            <p class="column">
			Ronald Kyllonen
            </p>
            <p class="column">
			Sam Vellequette
            </p>
            <p class="column">
			Travis Wavrunek
            </p>
            <p class="column">
			Wes Grove
            </p>
        </div> 
		

        <h3 class="header">
          Advisors
        </h3>

        <div class="row small-up-1 medium-up-2 large-up-3">
          {% for advisor in site.advisors %}
            <div class="column advisor">
              <a href="mailto:{{ advisor.email }}?subject=Makerspace Involvement" target="_blank" class="advisor__name">
                <i class="fa fa-user"></i>
                {{ advisor.name }}
              </a>
              <p class="advisor__title">
                {{ advisor.title }}
              </p>
            </div>
          {% endfor %}
        </div>

         


        </p>
      </div>
    </div>
  </div>
</section>
