<div class="call-to-action">
  <div class="row">
    <div class="small-12 columns">
      <h2 class="call-to-action__header">
        Stop by Monday - Thursday, 3:00 - 9:00pm in the MUB Basement
      </h2>
      <a href="#" class="button">
        Sign up for updates!
      </a>
      <a href="mailto:{{ site.email_address }}" class="button" target="_blank">
        <i class="fa fa-envelope"></i>
        {{ site.email_address }}
      </a>
      <a href="{{ site.facebook_url }}" class="button" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="{{ site.twitter_url }}" class="button" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
  </div>
</div>
