<footer id="footer">
  <div id="involvement" class="content">
    <div class="row">
      <div class="small-12 medium-8 medium-push-2 columns">
        <div class="text-center">
          <h3 class="green">
            get involved!
          </h3>
        </div>
        <p>
          Interested in helping out in some way, shape, or form? Maybe you have some great ideas you want to
          share, or maybe you even want to volunteer to oversee the space for a bit once it opens. There are
          tons of ways to get involved in this awesome project. Send us a quick email by clicking the below and we will help
          you find your space in the alley crew! :)
        </p>
        <div class="text-right">
          <a href="mailto:makerspace@mtu.edu?subject=Makerspace Involvement" target="_blank" class="large green button">
            contact us
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="tech">
    <div class="row">
      <div class="small-4 columns">
        <a href="http://www.mtu.edu">
          <img src="/img/logo-mtu.png"/>
        </a>
      </div>
      <div id="social-footer" class="small-8 columns">
        <a id="email-signup" href="http://eepurl.com/bKQAsf">
          Sign up for email updates!
        </a>
        <a href="http://www.twitter.com/makerspacemtu">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="http://www.facebook.com/makerspacemtu">
          <i class="fa fa-facebook"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
