<div class="minimal-footer">
  <div class="row">
    <div class="small-4 columns">
      <a href="http://www.mtu.edu">
        <img src="/img/logo-mtu.png"/>
      </a>
    </div>
    <div id="social-footer" class="small-8 columns">
      <a id="email-signup" href="http://eepurl.com/bKQAsf">
        Sign up for email updates!
      </a>
      <a href="{{ site.instagram_url }}">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="{{ site.facebook_url }}">
        <i class="fa fa-facebook"></i>
      </a>
    </div>
  </div>
</div>
