<nav class="nav">
  <div class="row">
    <div class="small-12 columns">
      <a href="/" class="nav__logo-link">
        <img src="/img/logo-alley-white.png" class="nav__logo" />
      </a>
      <a href="#" class="nav__menu-toggle" class="nav__link">
        <i class="fa fa-bars"></i>
      </a>
      <ul class="nav__link-list">
        <li class="nav__link-item">
          <a href="/index.html" class="nav__link">
            Home
          </a>
        </li>
        <li class="nav__link-item">
          <a href="/events/" class="nav__link">
            Events
          </a>
        </li>
        <li class="nav__link-item">
          <a href="/blog/" class="nav__link">
            Blog
          </a>
        </li>
        <li class="nav__link-item">
          <a href="/wiki/" class="nav__link">
            Wiki
          </a>
        </li>
        <li class="nav__link-item">
          <a href="/alley-crew/" class="nav__link">
            The Team
          </a>
        </li>
        <li class="nav__link-item">
          <a href="#" class="scrollto nav__link" data-element="involvement">
            Contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
