<nav id="nav">
  <div class="row">
    <div class="small-12 columns">
      <a href="/">
        <img src="/img/logo-alley.png"/>
      </a>
      <a href="#" class="menu">
        <i class="fa fa-bars"></i>
      </a>
      <ul>
        {% if include.all_links %}
          <li>
            <a href="/index.html">
              home
            </a>
          </li>
          <li>
            <a href="/updates.html">
              updates
            </a>
          </li>
          <li>
            <a href="/wiki/">
              wiki
            </a>
          </li>
          <li>
            <a href="/events/">
              events
            </a>
          </li>
          <li>
            <a href="/alley-crew/">
              the team
            </a>
          </li>
          <li>
            <a href="#" class="scrollto" data-element="involvement">
              get involved
            </a>
          </li>
        {% elsif include.projects %}
          <li>
            <a href="/projects.html">
              back to projects
            </a>
          </li>
        {% elsif include.wiki %}
          <li>
            <a href="/wiki">
              back to wiki
            </a>
          </li>
        {% elsif include.event %}
          <li>
            <a href="/events/">
              back to events
            </a>
          </li>
        {% else %}
          <li>
            <a href="/updates.html">
              back to updates
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
