<footer id="footer">
  <div class="more-projects">
    <div class="row">
      <div class="small-12 columns">
        <h4 id="most-recent">
          More Cool Projects!
        </h4>
        <h4>
          <a href="/projects.html" class="small button">
          Check out all of the projects!
        </a>
        </h4>
        <div id="updates-list-view">
        {% for project in site.projects %}
          {% if forloop.index < 4 %}
          <div class="update medium-6 large-4 columns {% if forloop.index == 3 %}end{% else %} {% if forloop.last == true %}end{% endif %}{% endif %}">
            <a href="{{ project.url }}">
              <div class="update-photo" {% if project.image %}style="background-image: url('/img/{{ project.image }}');"{% endif %}></div>
            </a>
            <a href="{{ project.url }}">
              <h3>{{ project.title }}</h3>
            </a>
            <p>
              {% if project.author %}<span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ project.author }}</span></span>{% endif %} •
              {{ project.description }}
              <a href="{{ project.url }}" class="small button">
                check it out!
              </a>
            </p>
          </div>
          {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% include minimal_footer.html %}
</footer>
