---
layout: main
---

<script type="text/javascript" src="..\js\Wiki_Library.js"></script>
<script src="https://apis.google.com/js/client.js?onload=load"></script>
<script type="text/javascript" src="https://apis.google.com/js/client.js?onload=init"></script>

<div class="row" >
	<h3 class="header">
		Makerspace Wiki
	</h3>
	<div class="wiki">
		<h4 onclick="wikiDropDownWoodWorking()" class="wiki__archivebtn" >
			WoodWorking
		</h4>

		<div id="WoodWorkingDropDown" class="wikiContent">
			<div id="WWDisplay" class="row small-up-1 medium-up-2 large-up-3">
			</div>
		</div>

		<h4 onclick="wikiDropDownCrafting()" class="wiki__archivebtn">
			Crafting
		</h4>

		<div id="CraftingDropDown" class="wikiContent">
			<div id="CraftingDisplay" class="row small-up-1 medium-up-2 large-up-3">
			</div>
		</div>

		<h4 onclick="wikiDropDownPrinting()" class="wiki__archivebtn">
			3D Printing
		</h4>

		<div id="PrintingDropDown" class="wikiContent">
			<div id="PrintingDisplay" class="row small-up-1 medium-up-2 large-up-3">
			</div>
		</div>

		<h4 onclick="wikiDropDownElectronics()" class="wiki__archivebtn">
			Electronics
		</h4>

		<div id="ElectronicsDropDown" class="wikiContent">
			<div id="ElectronicsDisplay" class="row small-up-1 medium-up-2 large-up-3">
			</div>
		</div>

		<h4 onclick="wikiDropDown()" class="wiki__archivebtn ">
		        Archived Makerspace Wiki
		</h4>

<div id="wikiDropDown" class="content wiki archiveContent">
  <div class="row">
    <div class="small-12 columns">

      {% assign groups = site.wikis | group_by: "category" | sort: "name" %}

      {% for group in groups %}
        <h4 class="capitalize">
          {{ group.name | replace: '-', ' ' }}
        </h4>
        <ul>
          {% for wiki in (site.wikis | sort: "title") %}
            {% if wiki.category != group.name %}{% continue %}{% endif %}
            <li>
              <a href="{{ wiki.url }}"/>
                {{wiki.title}}
              </a>
            </li>
          {% endfor %}
        </ul>
      {%endfor%}
    </div>
  </div>
</div>

</div>
</div>
