---
layout: main
---

<script type="text/javascript" src="..\js\Wiki_Library.js"></script>
<div class="row">
<h3 onclick="wikiDropDown()" class="header wiki__archivebtn ">
        Archived Makerspace Wiki <i id="archiveArrowDropDown" class="arrow right"></i>
</h3>
</div>

<div id="wikiDropDown" class="content wiki archiveContent">
  <div class="row">
    <div class="small-12 columns">

      {% assign groups = site.wikis | group_by: "category" | sort: "name" %}

      {% for group in groups %}
        <h4 class="capitalize">
          {{ group.name | replace: '-', ' ' }}
        </h4>
        <ul>
          {% for wiki in (site.wikis | sort: "title") %}
            {% if wiki.category != group.name %}{% continue %}{% endif %}
            <li>
              <a href="{{ wiki.url }}"/>
                {{wiki.title}}
              </a>
            </li>
          {% endfor %}
        </ul>
      {%endfor%}
    </div>
  </div>
</div>
