.call-to-action {
  padding: 40px 0;
  background-image: linear-gradient(285deg, rgb(62, 168, 245), rgb(118, 191, 67));

  &__header {
    font-size: 42px;
    font-weight: bold;
    color: $white;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }
}
