.list-item {
  margin: 20px 0;

  &__icon {
    width: 50px;
    height: 50px;
    border-radius: $border-radius;
    background-color: $blue;
    display: inline-block;
    margin-right: 20px;
    text-align: center;
    line-height: 50px;
    color: $white;
    font-size: 20px;
    vertical-align: top;
  }

  &__text {
    vertical-align: top;
    padding-top: 8px;
    display: inline-block;
    width: calc(100% - 80px);
  }
  
  &__table {
	font-family: Montserrat;
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	line-height: 1.5;
	color: #232323;
  }
}
