.nav {
  font-size: 16px;
  line-height: 1;

  &__logo-link {
    display: inline-block;
    vertical-align: top;
  }

  &__logo {
    display: inline-block;
    height: 60px;
    margin: 10px;

    @media screen and (max-width: $medium-break-point) {
      height: 40px;
    }
  }

  &__menu-toggle {
    display: none;
    font-size: 30px;
    margin: 15px 0 0;
    color: $white;
    float: right;

    @media screen and (max-width: $medium-break-point) {
      display: inline-block;
    }
  }

  &__link-list {
    list-style-type: none;
    margin: 0;
    float: right;
    text-align: right;

    @media screen and (min-width: $medium-break-point + 1) {
      display: block !important;
    }

    @media screen and (max-width: $medium-break-point) {
      display: none;
      float: none;
    }
  }

  &__link {
    display: inline-block;
    font-weight: bold;
    color: $white;
    padding: 20px 0;
    margin: 0 15px;
    text-decoration: none;

    @media screen and (max-width: $medium-break-point) {
      margin: 0;
    }

    @media screen and (min-width: $medium-break-point + 1) {
      &:hover {
        padding-top: 10px;
        border-top: 10px solid $white;
      }
    }
  }

  &__link-item {
    display: inline-block;

    @media screen and (max-width: $medium-break-point) {
      display: block;
    }
  }
}

.bg-nav {
  background-image: linear-gradient(285deg, rgba(62, 168, 245, 0.8), rgba(118, 191, 67, 0.9));
}
