@import "colors";

.wiki {
  h3 {
    color: $green;
    font-size: 36px;
    display: block;
    padding: 0;
    margin: 0 0 20px;

    &:before {
      display: none;
    }
  }

  h4 {
    text-transform: capitalize;
    margin: 10px 0;
    font-size: 28px;
  }

  h5 {
    margin: 10px 0;
    font-size: 20px;
  }

  ul {
    padding-left: 30px;
  }

  p {
    margin: 15px 0;
  }
}
