<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <nav>
      <div class="row">
        <div class="small-12 columns">
          <a href="/">
            <img src="/img/logo-alley.png"/>
          </a>
          <ul>
            <li>
              <a href="#">
                home
              </a>
            </li>
            <li>
              <a href="#">
                updates
              </a>
            </li>
            <li>
              <a href="#">
                projects
              </a>
            </li>
            <li>
              <a href="#">
                meet the team
              </a>
            </li>
            <li>
              <a href="#">
                get involved
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {{ content }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
