---
layout: page
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header" {% if page.image %} style="background-image: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.7)
      ),
      linear-gradient(
        rgba(0, 0, 0, 0) 85%,
        rgba(0, 0, 0, 0.4)
      ), url('/img/{{ page.image }}');"{% endif %}>
    <div class="row">
      <div class="small-12 columns">
        <h1 class="post-title" itemprop="name headline">
          {{ page.title }}
        </h1>
        <p class="post-meta">
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
          {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
        </p>
      </div>
    </div>
  </header>
  <div class="post-content content" itemprop="articleBody">
    <div class="row">
      <div class="small-12 columns">
        {{ content }}
      </div>
    </div>
  </div>
</article>
